#note{
position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #8e001c;
    color: #f3f3f3;
    font-size: 18px;
    font-family: 'Bree Serif', serif;
    text-align: center;
    line-height: 2.5;
    overflow: hidden; 
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-50px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-50px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
#message .cssanimations .csstransforms{
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2.5s 2.0s 2 ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2.5s 2.0s 2 ease forwards;
}
#close{
float:right; padding-right:130px;font-weight:bold;cursor:pointer;
}
#close  .cssanimations .csstransforms{
  display: none;
}
#close{
display:none;
}