/*Generic globals ===================================================================*/
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
html, body {
	text-align: center;
	padding:0;
	margin:0;
	background-color: gray;
	background-image:url(../images/red.jpg);
}
/*layout template items==============================================================*/
#container {
	background-color: white;
	width: 90%;
	max-width:1200px;
	min-width: 800px;
	min-height: 700px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	/*CSS3 -- won't show in IE8-*/
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	----something;
}
#clearfooter {
	--
}
#header {
	text-align: left;
}
/*NAV Menu items ====================================================================*/
nav	{
	background-color: #f3f3f3;
	
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 80px;
	width: auto;
	margin: auto;
}
nav li {
	float: left;
	list-style-type: none;
}
nav a{
	background-image: url(navi_bg_divider.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	line-height: 80px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	color: #371C1C;
}
nav a:link {color: #371C1C; text-decoration: none; }
nav a:active {color: pink; text-decoration: none; }
nav a:visited {color: #371C1C; text-decoration: none; }
nav a:hover {
	color: #FFF;
}
/*=========================================================================*/
#content{
	--text-align: center;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	overflow: auto;
	margin-bottom: 25px;
}
#footer{
	width: 500px;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	background: #d4dedf;
	border-top: 1px solid #fff;
}

/*header template====================================================================*/
#headcontent {
	width: 800px;
	padding:0;
	margin-left: auto;
	margin-right: auto;
}
#topcontent {
	width: 925px; 
	height: 5px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.85em;
}
.header {

}
#logoHolder {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 48px;
	line-height:34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
#logo {
	border: none;
}
#linkicons {
	border: none;
	float:right;
}
.datetime {
	float: right;
}
.topline {
	--
}


/*========== alpha menu ==========*/
#alphalist { 
	width: 950px;
	text-align: center;
}
#letterNav {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.alpha{
	text-decoration: none;
	padding: 3px 3px;
	display: block;
	border-right: 2px solid rgb(55,125,180);
	border-bottom: 2px solid black;
	color: black;
	/*CSS3 -- won't show in IE8-*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.alpha2{
	text-decoration: none;
	padding: 3px 3px;
	display: block;
	border-left: 2px solid rgb(55,125,180);
	border-bottom: 2px solid black;
	color: black;
	/*CSS3 -- won't show in IE8-*/
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}



/*content page=======================================================================*/
#status {
	padding-bottom: 10px;
	color: red;
}
.centerIt {
	text-align: center;
}
.leftIt {
	text-align: left;
}
.rightIt {
	text-align: right;
}
.boldIt {
	font-weight: bold;
}
.emphIt {
	font-style: italic;
}


/*======= menu page tables =======*/
.menuTable {
	margin-left: auto;
	margin-right: auto;
}
/*======= list view tables =======*/
#listHolder {
	text-align: center;
}
.listTable {
	width: 95%;
	font-size: 0.875em;
	border-collapse: collapse;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	/*CSS3 -- won't show in IE8-*/
	box-shadow: 1px 2px 5px 1px #aaaaaa;
}
.listTable th {
	background-color: rgb(91,155,213);
	padding: 5px;
	text-align: center;
	color: #ffffff;
}
.listTable td {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 5px;
	padding-right: 5px;
}
.infoOnly {
	background-color: rgb(235,235,235);
}
.oddRow {
	background-color: rgb(238,238,238);
}
.evenRow {
	background-color: rgb(245,245,245);
}
.idText {
	color: silver;
}
.child {
	display: none;
}

/*========== form tables =========*/
.formTable {
	width: 100%;
	/*CSS3 -- won't show in IE8-*/
	--box-shadow: 1px 2px 5px 1px #aaaaaa;
	--background-color: rgb(245,245,245);
}
.formTable td {
	width: 33.3%;
	padding-top: 5px;
	padding-bottom: 5px;
}
.formLabelBox{
	background-color: rgb(238,238,238);
}
.formTable select{
	width: 144px;
	height: 20px;
}
span[title]{
    background:lightgrey;
    color:grey;
}
/*==========    forms    =========*/

#inputForm {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#reg {
	padding: 15px;
	text-align: center;
	margin-left: 5px;
}
#inputForm form {
	
	margin-left: auto;
	margin-right: auto;
}
#homePage {
	width:60%;
	margin-left: 15px;
	display:inline-block;
	vertical-align:top;
}
#homePage img{
	padding:0;
}
#homePage p{
	text-shadow: 1px 1px 1px gray;
	text-align:left;
	font-weight: 500;
}
#mainPage {
	width:955px;
	margin-left: auto;
	margin-right: auto;
}
#forPass a{
	font-size:16px;
}
#forPass a:link {
		color: rgb(55,125,180);
		
	}

#forPass a:visited {
		color: rgb(55,125,180)
	}

#forPass a:active {
		background-color: lightgray;
		text-decoration:none;
	}

#forPass a:hover {
		color:darkblue;
		text-decoration:none;
	}

#noreg {
	font-size:16px;
}
#logtext {
	font-size:16px;
	text-align:right;
}
.formControls {
	padding: 15px;
}
#topControls {
	margin-bottom: 10px;
}
.formTable input[type^="text"], input[type^="pass"] {
	width: 140px;
}
.formDesc input[type^="text"]  {
	width: 300px;
}
.formInst {
	padding-left: 10px;
	font-style: italic;
	text-align: left;
	color: gray;
	font-size: 0.9em;
}
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

#login {
	/* Center wrapper perfectly */
	width: 300px;
	height: 400px;
	margin: 70px auto;
}

.download {
	display: block;
	position: absolute;
	float: right;
	right: 25px;
	bottom: 25px;
	padding: 5px;
	
	font-weight: bold;
	font-size: 11px;
	text-align: right;
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}

.download:hover {
	color: rgba(0,0,0,0.75);
	text-shadow: 1px 1px 0 rgba(256,256,256,0.5);
}

.download:focus {
	bottom: 24px;
}
