@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Amaranth);

.clear {
    clear: both;
}
/* Basic layout */
body{
	background-color: #ebebeb;
	font-family: 'Amaranth', sans-serif;
}
section.stretch{
	float: left;
    height: 1500px;
	width: 100%;
}
}
section.stretch p{
	font-family: 'Amaranth', sans-serif;
	font-size: 14px;
	color: #969696;
	text-align: center;
	position: relative;
	margin-top: 10px;
}

section.stretch p.bottom{
	top: 100%;
}
#page{
    position: relative;
    width: 960px;
    min-height: 500px;
	margin: 160px auto;   
}
#page h1,h1{
    padding: 0 20px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #424242;
	margin-bottom: 10px;
}
profile .profile-content{
	background: #f3f3f3;
	border: 3px solid gray;
	min-height: 400px;
	position: absolute;
}
#profile-pic{
	float: left;
	width: 290px;
	border-right: 1px solid gray;
	margin: 10px;
}
#uPic{
	width: 150px;
	height: 100px;
	padding: 40px;
	border: 2px solid gray;
}
#profile-info{
	float: right;
	width: 500px;
	margin: 10px;
	padding-left: 50px;	
}
#profile-footer{
	padding: 20px;
	background: pink;
}

/*=========================================================================*/
#status {
	margin-top: 10px;
	background: #8e001c;
	color: #f3f3f3;
}
/***************************
 * FOOTER                  *
 ***************************/
#copyright {
    width: 960px;
	margin: 0 auto;
    padding: 15px;
}
#footer {
    float: left;
    top: 100%;
    background: #C7C7C7;
	border-top: 1px solid #aaaaaa;
	float: left;
	width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    -webkit-box-shadow: inset 0px 2px 10px 0px rgba(117,117,117,1);
    -moz-box-shadow: inset 0px 2px 10px 0px rgba(117,117,117,1);
    box-shadow: inset 0px 2px 10px 0px rgba(117,117,117,1);
    
}