@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Amaranth);
.listTable {
	position: relative;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	background: #fff;
}
.listTable tr{
	font-family: 'Amaranth', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	background: #fff;
	text-align: center;
	border: 2px solid gray;
}
.listTable th{
	background: #424242;
	color: #f3f3f3f;
	padding: 10px 30px;
}
.listTable td{
	padding: 10px;
	color: #424242;
	border: 2px solid gray;
}